{% extends 'sitesiteBundle::base_pages.html.twig' %}
{% set cssjsloads = 'simple' %}

{% block mainContainer %}
<section>
	<div class="container">
		<div class="row">

			{{ render(controller('sitesiteBundle:Default:mainmenu')) }}

			<div class="col-sm-9 col-md-9 padding-left-resp">
				<div class="content-page-right">
					<h1 class="title">{{ pageweb.titreh1|raw }}</h1>
					<div class="single-section">
						<img src="images/metier/presentation.jpg" alt="">                
						<p>{{ pageweb.code|raw }}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{{ include('sitesiteBundle:blocks:mini-liste-info.html.twig') }}    

{% endblock mainContainer %}
