<div class="footer-widget">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Catégorie</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Bœuf</a></li>
						<li><a href="#">Veau</a></li>
						<li><a href="#">Agneau</a></li>
						<li><a href="#">Porc</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Epicerie</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Saucissons</a></li>
						<li><a href="#">Conserves</a></li>
						<li><a href="#">Sauces</a></li>
						<li><a href="#">Vins</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Légalité</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Conditions générales de vente</a></li>
						<li><a href="#">Informations</a></li>
						<li><a href="#">Normes européennes</a></li>
						<li><a href="#">Nos partenaires</a></li>
					</ul>
				</div>
			</div>										
			
		</div>
	</div>
</div>