<div class="header_top"><!--header_top-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="contactinfo">
					<ul class="nav nav-pills">
						{% for tel in version.telephones|default({'tel': '04 74 37 77 09'}) %}
						<li><a href="#"><i class="fa fa-phone" title=""></i> {{ tel }}</a></li>
						{% endfor %}
						<li><a href="mailto:boucherie-du-veyron.fr"><i class="fa fa-envelope"></i> boucherie-du-veyron.fr</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="social-icons pull-right">
					<ul class="nav navbar-nav">
						<li>
							<a href="https://www.facebook.com/La-boucherie-du-Veyron-130699467080417" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!--/header_top-->