<meta charset="UTF-8" />
<title>{% block title %}{{ pageweb.title|default('') }}{% endblock title %}</title>
{# <meta name="description" content="{% block description %}{{ pageweb.metadescription|default(keywords.description) }}{% endblock description %}" /> #}
{# <meta name="keywords" content="{% block keywords %}{{ pageweb.keywords|default(keywords.keywords) }}{% endblock keywords %}" /> #}
<meta name="author" content="{{ webmaster.email }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->