<section>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-3 col-md-3 padding-right-resp"><!--colonne left-->
				<div class="left-sidebar"><!--left-sidebar-->
			     	
					<div class="panel-group category-products" id="accordian"><!--category-products-->
						<div class="panel panel-default"><!--product 1-->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#boeuf">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										BŒUF
									</a>
								</h4>
							</div>
							<div id="boeuf" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">pièces du boucher </a></li>
										<li><a href="#">à rôtir </a></li>
										<li><a href="#">à griller </a></li>
										<li><a href="#">à braiser</a></li>
										<li><a href="#">abats </a></li>
									</ul>
								</div>
							</div>
						</div><!--/product 1-->
						<div class="panel panel-default"><!--product 2-->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#veau">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										VEAU
									</a>
								</h4>
							</div>
							<div id="veau" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">pièces du boucher </a></li>
										<li><a href="#">à rôtir </a></li>
										<li><a href="#">à griller </a></li>
										<li><a href="#">à braiser</a></li>
										<li><a href="#">abats </a></li>
									</ul>
								</div>
							</div>
						</div><!--/product 2-->
						<div class="panel panel-default"><!--product 3-->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#agneau">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										AGNEAU
									</a>
								</h4>
							</div>
							<div id="agneau" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">pièces du boucher </a></li>
										<li><a href="#">à rôtir </a></li>
										<li><a href="#">à griller </a></li>
										<li><a href="#">à braiser</a></li>
										<li><a href="#">abats </a></li>
									</ul>
								</div>
							</div>
						</div><!--/product 3-->
						<div class="panel panel-default"><!--product 4-->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#porc">
										<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										PORC
									</a>
								</h4>
							</div>
			                <div id="porc" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="#">pièces du boucher </a></li>
										<li><a href="#">à rôtir </a></li>
										<li><a href="#">à griller </a></li>
										<li><a href="#">à braiser</a></li>
										<li><a href="#">abats </a></li>
									</ul>
								</div>
							</div>
						</div><!--product 4-->
						
					</div><!--/category-products-->
				
				</div><!--/left-sidebar-->
			</div><!--/colonne left-->



			<div class="col-sm-9 col-md-9 padding-left-resp"><!--colonne right-->
				<div id="slider-home"><!--slider-->
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<!--<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>-->
						<div class="carousel-inner">
							<div class="item active"><!--image 1-->
								<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
									<h1>Le choix de la qualité</h1>
									<p>Aliquam diam nulla, fermentum vel tempus at, porttitor eu augue. Nulla pretium nulla sit amet massa tristique suscipit. </p>
								</div>
								<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
									<img src="{{ asset('bundles/sitesite/images/home/slider-home/1presentation.jpg') }}" class="slid-img img-responsive" alt="" />
								</div>
							</div><!--/image 1-->
							<div class="item"><!--image 2-->
								<div class="item-margin">
								<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
									<h1>Osso Buco</h1>
									<p>Une viande de choix pour un budget imbattable. </p>
									<h2>18<small>,50<sup>€</sup><span>/Kg</span></small></h2>
									<div class="btn-group order-group in-slide" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-commander">Commander</button>
										<input class="command_quantity" type="text" name="quantity" value="250." autocomplete="off" size="6">
										<span class="btn-quantity">
										<a class="btn quantity-top" href="#"><i class="fa fa-angle-up"></i></a>
										<a class="btn quantity-bottom" href="#"><i class="fa fa-angle-down"></i></a>
										</span>
									</div>
								</div>
								</div>
								<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
									<img src="{{ asset('bundles/sitesite/images/home/slider-home/1osso_boco.jpg') }}" class="slid-img img-responsive" alt="" />
								</div>
							</div><!--/image 2-->
							<div class="item"><!--image 3-->
								<div class="item-margin">
								<div class="col-sm-5 col-md-4 col-lg-5 padding-right padding-left">
									<h1>Osso Buco 2</h1>
									<p>Une viande de choix pour un budget imbattable. </p>
									<h2>18<small>,50<sup>€</sup><span>/Kg</span></small></h2>
									<div class="btn-group order-group in-slide" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-commander">Commander</button>
										<input class="command_quantity" type="text" name="quantity" value="250g." autocomplete="off" size="6">
										<span class="btn-quantity">
										<a class="btn quantity-top" href="#"><i class="fa fa-angle-up"></i></a>
										<a class="btn quantity-bottom" href="#"><i class="fa fa-angle-down"></i></a>
										</span>
									</div>
								</div>
								</div>
								<div class="col-sm-7 col-md-8 col-lg-7 padding-right padding-left">
									<img src="{{ asset('bundles/sitesite/images/home/slider-home/1osso_boco.jpg') }}" class="slid-img img-responsive" alt="" />
								</div>
							</div><!--/image 4-->
						</div>
						<a href="#slider-carousel" class="left control-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div><!--/slider-->
			</div><!--/col-->
		</div>
	</div>
</section>