<section>
	<div class="container">
		<div class="row">
			
			{% block mainmenu %}
			{{ include('sitesiteBundle:blocks:mainmenu.html.twig') }}
			{% endblock mainmenu %}

			{% block diaporama %}
			{{ render(controller('sitesiteBundle:Default:diaporama', {slug: 'intro'})) }}
			{% endblock diaporama %}

		</div>
	</div>
</section>