<section>
	<div class="container">
		<div class="row">
			
			{% block menuArticle %}
			{{ render(controller('sitesiteBundle:Default:menuArticle')) }}
			{% endblock menuArticle %}

			{% if pageweb['#diaporama_id']|default(null) != null %}
			{% block diaporama %}
			{{ render(controller('sitesiteBundle:Default:diaporama', {id: pageweb['#diaporama_id']})) }}
			{% endblock diaporama %}
			{% endif %}

		</div>
	</div>
</section>